<section class="search-area">
    <h4>Quick search</h4>

    <input type="search" name="itemSearch" id="itemSearch" placeholder="Please enter the name of the desired element.." />
</section>

<section class="items-area">
    <h4>Micro Elements</h4>

    <ul>
        <li class="items-area-item">
            <div class="toggle-area">
                <h5>Add new micro element</h5>
            </div>

            <form class="on-click-area" action="#">
                <div class="image-and-description">
                    <textarea placeholder="Please enter a short description" class="item-description new-item-description"></textarea>
                </div>

                <div class="data">
                    <label for="newItemName">Name:</label>
                    <input type="text" name="newItemName" id="newItemName" placeholder="Enter the element's name.." />
                    <label for="newItemType">Type:</label>
                    <input type="text" name="newItemType" id="newItemType" placeholder="Enter the element's type.." />
                    <label for="newItemImageUrl">Image URL:</label>
                    <input type="text" name="newItemImageUrl" id="newItemImageUrl" placeholder="Enter the element's image url.." />
                </div>

                <input type="submit" class="submit-button" value="Create Micro Element" />
            </form>
        </li>
        <li class="items-area-item">
            <div class="toggle-area">
                <p class="name-search">Vitamin B12</p>
                <p>Vitamin</p>
                <p>High Usage</p>
            </div>

            <form class="on-click-area">
                <div class="image-and-description">
                    <div class="image-container">
                        <img src="https://5.imimg.com/data5/EK/DU/MY-13854737/vitamin-b12-500x500.jpg" />
                    </div>
                    <textarea class="item-description">Vitamin B12, also known as cobalamin, is a water-soluble vitamin that is involved in the metabolism of every cell of the human body: it is a cofactor in DNA synthesis, and in both fatty acid and amino acid metabolism.</textarea>
                </div>

                <div class="data">
                    <label for="b12Name">Name:</label>
                    <input type="text" name="b12Name" id="b12Name" value="Vitamin B12" />
                    <label for="b12Type">Type:</label>
                    <input type="text" name="b12Type" id="b12Type" value="Vitamin" />
                </div>

                <input type="submit" class="submit-button" value="Edit Element" />
            </form>
        </li>
        <li class="items-area-item">
            <div class="toggle-area">
                <p class="name-search">Vitamin B1</p>
                <p>Vitamin</p>
                <p>High Usage</p>
            </div>

            <form class="on-click-area">
                <div class="image-and-description">
                    <div class="image-container">
                        <img src="https://previews.123rf.com/images/lisaanfisa/lisaanfisa1601/lisaanfisa160100030/51018568-infographic-set-of-vitamin-b1-and-useful-products-spinach-carrot-meat-apricot-tomatoes-carrots-milk-.jpg" />
                    </div>
                    <textarea class="item-description">Thiamine, also known as thiamin or vitamin B1, is a vitamin found in food, and manufactured as a dietary supplement and medication. It is a nutrient that is not synthesized in the human body. Food sources of thiamine include whole grains, legumes, and some meats and fish.</textarea>
                </div>

                <div class="data">
                    <label for="b1Name">Name:</label>
                    <input type="text" name="b1Name" id="b1Name" value="Vitamin B1" />
                    <label for="b1Type">Type:</label>
                    <input type="text" name="b1Type" id="b1Type" value="Vitamin" />
                </div>

                <input type="submit" class="submit-button" value="Edit Element" />
            </form>
        </li>
        <li class="items-area-item">
            <div class="toggle-area">
                <p class="name-search">Vitamin B2</p>
                <p>Vitamin</p>
                <p>High Usage</p>
            </div>

            <form class="on-click-area">
                <div class="image-and-description">
                    <div class="image-container">
                        <img src="https://previews.123rf.com/images/ninamunha/ninamunha1705/ninamunha170500069/78740452-vitamin-b2-or-riboflavin-and-vector-set-of-vitamin-b2-rich-foods-healthy-lifestyle-and-diet-concept-.jpg" />
                    </div>
                    <textarea class="item-description">Riboflavin, also known as vitamin B₂, is a vitamin found in food and used as a dietary supplement. Food sources include eggs, green vegetables, milk and other dairy product, meat, mushrooms, and almonds. Some countries require its addition to grains.</textarea>
                </div>

                <div class="data">
                    <label for="b2Name">Name:</label>
                    <input type="text" name="b2Name" id="b2Name" value="Vitamin B2" />
                    <label for="b2Type">Type:</label>
                    <input type="text" name="b2Type" id="b2Type" value="Vitamin" />
                </div>

                <input type="submit" class="submit-button" value="Edit Element" />
            </form>
        </li>
        <li class="items-area-item">
            <div class="toggle-area">
                <p class="name-search">Vitamin B3</p>
                <p>Vitamin</p>
                <p>High Usage</p>
            </div>

            <form class="on-click-area">
                <div class="image-and-description">
                    <div class="image-container">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR75gZ7bL1BdeohdHm_ksVa19gJPDHcy3TA-JDPLXOZHns9CsDc" />
                    </div>
                    <textarea class="item-description">Niacin, also known as nicotinic acid, is an organic compound and a form of vitamin B3, an essential human nutrient. It has the formula C ₆H ₅NO ₂ and belongs to the group of the pyridinecarboxylic acid.</textarea>
                </div>

                <div class="data">
                    <label for="b3Name">Name:</label>
                    <input type="text" name="b3Name" id="b3Name" value="Vitamin B3" />
                    <label for="b3Type">Type:</label>
                    <input type="text" name="b3Type" id="b3Type" value="Vitamin" />
                </div>

                <input type="submit" class="submit-button" value="Edit Element" />
            </form>
        </li>
        <li class="items-area-item">
            <div class="toggle-area">
                <p class="name-search">Vitamin C</p>
                <p>Vitamin</p>
                <p>High Usage</p>
            </div>

            <form class="on-click-area">
                <div class="image-and-description">
                    <div class="image-container">
                        <img src="https://previews.123rf.com/images/ovocheva/ovocheva1508/ovocheva150800065/43043925-vitamins-and-minerals-foods-illustrator-set-12-vector-set-of-vitamin-rich-foods-vitamin-k-spinach-br.jpg" />
                    </div>
                    <textarea class="item-description">Vitamin C, also known as ascorbic acid and l-ascorbic acid, is a vitamin found in various foods and sold as a dietary supplement. It is used to prevent and treat scurvy. Vitamin C is an essential nutrient involved in the repair of tissue and the enzymatic production of certain neurotransmitters.</textarea>
                </div>

                <div class="data">
                    <label for="cName">Name:</label>
                    <input type="text" name="cName" id="cName" value="Vitamin C" />
                    <label for="cType">Type:</label>
                    <input type="text" name="cType" id="cType" value="Vitamin" />
                </div>

                <input type="submit" class="submit-button" value="Edit Element" />
            </form>
        </li>
        <li class="items-area-item">
            <div class="toggle-area">
                <p class="name-search">Vitamin B9 (Folate)</p>
                <p>Vitamin</p>
                <p>High Usage</p>
            </div>

            <form class="on-click-area">
                <div class="image-and-description">
                    <div class="image-container">
                        <img src="https://previews.123rf.com/images/alfaolga/alfaolga1801/alfaolga180100082/94425902-vitamin-b9-folate-food-sources-natural-organic-products-with-the-maximum-vitamin-content-.jpg" />
                    </div>
                    <textarea class="item-description">Folate, distinct forms of which are known as folic acid, folacin, and vitamin B₉, is one of the B vitamins. It may be taken by mouth or by injection. The recommended adult daily intake of folate in the U.S. is 400 micrograms from foods or dietary supplements.</textarea>
                </div>

                <div class="data">
                    <label for="b9Name">Name:</label>
                    <input type="text" name="b9Name" id="b9Name" value="Vitamin B9" />
                    <label for="b9Type">Type:</label>
                    <input type="text" name="b9Type" id="b9Type" value="Vitamin" />
                </div>

                <input type="submit" class="submit-button" value="Edit Element" />
            </form>
        </li>
    </ul>
</section>
