
@{
    ViewData["Title"] = "Administration";
}

<aside class="menu-bar">
    <h2>Content Management</h2>
    <ul class="menu-list">
        <li><button>Micro Elements</button></li>
        <li><button>Macro Elements</button></li>
        <li><button>Food Items</button></li>
        <li><button>Recipes</button></li>
    </ul>
</aside>

<main>
    <div id="partial-wrapper">

    </div>
</main>

@section Scripts
{

}


