<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Foody.Web</title>
    <link rel="stylesheet" href="~/css/site.scss" />
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
</head>
<body>
    <header class="site-header">
        <div class="wrapper">
            <nav class="nav">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-brand">FOODY<span>YOUR NUTRITION PAL</span></a>

                <ul class="nav-right">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Diary" asp-action="Index">Diary</a></li>
                    <li><a asp-area="" asp-controller="Articles" asp-action="Index">Articles</a></li>
                    <li><a asp-area="" asp-controller="Knowledge" asp-action="Index">Knowledge Base</a></li>
                    <li><a asp-area="" asp-controller="Administration" asp-action="Index">Administration</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="site-content">
        <div class="wrapper">
            @RenderBody()
        </div>
    </div>

    <footer class="site-footer">
        <div class="wrapper">
            <section class="footer-copy">
                <p>Welcome to Foody, your dedicated food pal. He is ready to help you in your endevours in the world of healthy nutrition.</p>
                <p>&copy; 2019 Foody by pwnd0rum</p>
            </section>
            <section class="footer-sitemap">
                <h3>Sitemap</h3>
                <ul>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About Us</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Disclaimer">Disclaimer</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Diary" asp-action="Index">Diary</a></li>
                    <li><a asp-area="" asp-controller="Articles" asp-action="Index">Articles</a></li>
                    <li><a asp-area="" asp-controller="Knowledge" asp-action="Index">Knowledge Base</a></li>
                    <li><a asp-area="" asp-controller="Administration" asp-action="Index">Administration</a></li>
                </ul>
            </section>
            <section class="footer-contacts">
                <h3>Contacts</h3>
                <ul>
                    <li><i class="fas fa-map-marker"></i> Bulgaria, Burgas, Tsar Simeon 31, 8000</li>
                    <li><i class="fas fa-phone"></i> +35987299966</li>
                    <li><i class="fas fa-envelope"></i> <email>contacts@foody.net</email></li>
                </ul>
            </section>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <script>
        function AddNavBrandSmallPhoneEvent() {
            let navBrandElement = document.getElementsByClassName('nav-brand')[0];
            navBrandElement.classList.add('toggler');
            navBrandElement.removeAttribute('href');
            navBrandElement.addEventListener('click', function NavBrandEventListener(event) {
                let rightNav = document.querySelector('ul.nav-right');
                if (rightNav.classList.contains('hide')) {
                    rightNav.classList.remove('hide');
                } else {
                    rightNav.classList.add('hide');
                }
            });
        }

        function ResetNavBrand() {
            let navBrandElement = document.getElementsByClassName('nav-brand')[0];
            if (navBrandElement.getAttribute('href')) {
                return;
            }

            navBrandElement.setAttribute('href', '/');
            navBrandElement.classList.remove('toggler');
            //navBrandElement.removeEventListener('click', NavBrandEventListener);
        }

        if (window.innerWidth <= 480) {
            AddNavBrandSmallPhoneEvent();
            document.querySelector('ul.nav-right').classList.add('hide');
        }

        window.onresize = function () {
            if (window.innerWidth <= 480) {
                if (!document.getElementsByClassName('nav-brand')[0].classList.contains('toggler')) {
                    AddNavBrandSmallPhoneEvent();
                    document.querySelector('ul.nav-right').classList.add('hide');
                }
            } else {
                if (document.getElementsByClassName('nav-brand')[0].classList.contains('toggler')) {
                    ResetNavBrand();
                    document.querySelector('ul.nav-right').classList.remove('hide');
                }
            }
        }
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
