@keyframes article-header-drop {

    0% {
        transform: translateY(-6rem);
    }

    50% {
        transform: translateY(1.5rem);
    }

    100% {
        transform: translateY(0rem);
    }
}
