.article-menu-header {
    display: flex;
    background-color: lightblue;
    align-items: center;
    flex-wrap: wrap;
    animation: article-header-drop 0.5s ease-out;

    & ul {
        display: flex;
        margin-left: auto;

        @include responsive( small-phone ) {
            flex-basis: 100%;
        }
    }

    & li {
        list-style: none outside;

        & .type-selector-button {
            padding: 0.5em 1em;
            border: solid 2px #000;
            margin: 0.8em 0;
            font-size: 1.5em;

            @include responsive( phone ) {
                font-size: 1.2em;
            }

            @include responsive( small-phone ) {
                font-size: 1.1em;
            }

            &.selected {
                transform: translateY(0.3em);
            }
        }

        &:nth-child(1) {
            @include responsive( small-phone ) {
                margin-left: auto;
            }

            & .type-selector-button {
                background-color: var(--template-secondary-color, green);
                border-bottom-left-radius: 0.5em;
                border-top-left-radius: 0.5em;
                border-color: var(--template-secondary-color, green);

                &:hover, &:focus, &.selected {
                    background-color: white;
                    transition-duration: 0.3s;
                    color: var(--template-primary-color, blue);
                }

                &:focus {
                    outline: 0;
                }
            }
        }

        &:nth-child(2) {
            & .type-selector-button {
                background-color: var(--template-secondary-color-invert, red);
                border-color: var(--template-secondary-color-invert, red);

                &:hover, &:focus, &.selected {
                    background-color: white;
                    transition-duration: 0.3s;
                    color: var(--template-primary-color, blue);
                }

                &:focus {
                    outline: 0;
                }
            }
        }

        &:nth-child(3) {
            & .type-selector-button {
                background-color: var(--template-primary-color-invert, yellow);
                border-color: var(--template-primary-color-invert, yellow);

                &:hover, &:focus, &.selected {
                    background-color: white;
                    transition-duration: 0.3s;
                    color: var(--template-primary-color, blue);
                }

                &:focus {
                    outline: 0;
                }
            }
        }

        &:nth-child(4) {
            margin-right: 2em;

            @include responsive( small-phone ) {
                margin-right: auto;
            }

            & .type-selector-button {
                background-color: var(--template-primary-color, blue);
                color: white;
                border-bottom-right-radius: 0.5em;
                border-top-right-radius: 0.5em;
                border-color: var(--template-primary-color, blue);

                &:hover, &:focus, &.selected {
                    background-color: white;
                    transition-duration: 0.3s;
                    color: var(--template-primary-color, blue);
                }

                &:focus {
                    outline: 0;
                }
            }
        }
    }

    & h2 {
        margin-left: 2em;
        padding-bottom: 0;

        @include responsive( phone ) {
            margin-left: 1em;
            padding-right: 0.2em;
        }

        @include responsive( small-phone ) {
            margin-left: auto;
            margin-right: auto;
            padding: 0.5em 0;
        }
    }
}

.article-menu-tabs {
    padding: 1em;

    & h2 {
        text-align: center;
        margin-bottom: 2em;
        position: relative;
        padding-top: 1em;
        color: var(--template-primary-color, blue);

        &:after {
            position: absolute;
            bottom: -15%;
            border: 2px solid var(--template-primary-color, blue);
            content: '';
            width: 20%;
            left: 40%;
            border-radius: 6px;
        }
    }

    & .article-tabs-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include responsive( phone ) {
            justify-content: space-around;
        }

        & .article-tab {
            flex: 0 0 48%;
            list-style: none outside;
            position: relative;
            border: 6px solid var(--template-primary-color, blue);
            border-radius: 0.5em;
            margin-bottom: 4%;
            display: flex;

            @include responsive( desktop-large ) {
                flex-basis: 30%;
                margin-bottom: 3.3%;
            }

            @include responsive( phone ) {
                flex-basis: 80%;
            }

            @include responsive( small-phone ) {
                flex-basis: 90%;
            }

            &:after {
                display: block;
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                box-shadow: 1px 2px 21px 10px rgba(0,0,0,0.25);
            }

            &:hover:after {
                display: block;
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                box-shadow: 1px 2px 21px 10px rgba(0,0,0,0.75);
                pointer-events: none;
                transition: 0.3s;
            }

            &.nutrition {
                border-color: var(--template-secondary-color, green);

                &:hover {
                    background-color: var(--template-secondary-color, green);
                    opacity: 0.9;
                    transition: 0.3s;
                }
            }

            &.exercise {
                border-color: var(--template-secondary-color-invert, red);

                &:hover {
                    background-color: var(--template-secondary-color-invert, red);
                    opacity: 0.9;
                    transition: 0.3s;
                }
            }

            &.lifestyle {
                border-color: var(--template-primary-color-invert, yellow);

                &:hover {
                    background-color: var(--template-primary-color-invert, yellow);
                    opacity: 0.9;
                    transition: 0.3s;
                }
            }

            & a {
                display: flex;
                justify-content: space-between;
                padding: 0.5em;
                text-decoration: none;
                color: black;
                margin-bottom: auto;
                margin-top: auto;

                & .tab-header:hover {
                    text-decoration: underline;
                }

                & .image-container, & .tab-body {
                    flex: 0 0 45%;

                    @include responsive( phone ) {
                        flex: 0 0 100%;
                    }

                    @include responsive( desktop-large ) {
                        flex: 0 0 100%;
                    }
                }

                @include responsive( phone ) {
                    flex-wrap: wrap;
                    padding: 1.5em;

                    & .tab-body {
                        padding: 2em 0 1em 0;
                        font-size: 1.2em;
                    }
                }

                @include responsive( desktop-large ) {
                    flex-wrap: wrap;

                    & .tab-body {
                        padding: 1em 0;
                    }
                }

                & .image-container {
                    display: flex;
                }

                & .image-container img {
                    width: 100%;
                    height: auto;
                    margin-bottom: auto;
                    margin-top: auto;
                }

                & .tab-text, & .tab-footer {
                    font-size: 0.8em;
                }

                & .tab-footer {
                    font-style: italic;
                    padding-top: 0.5em;
                }
            }
        }
    }
}

.topic-suggest {
    display: flex;
    padding: 3em;
    background-color: #add8e6;
    justify-content: space-around;
    position: relative;
    margin-top: 1em;

    & > i {
        flex: 0 0 20%;
        font-size: 8em;
        text-align: center;
        align-content: center;
    }

    & p {
        flex: 0 0 60%;
        font-size: 1.4em;
        font-style: italic;
        margin-top: auto;
        margin-bottom: auto;
    }

    &:before {
        position: absolute;
        top: -15%;
        border: 2px solid var(--template-primary-color, blue);
        content: '';
        width: 20%;
        left: 40%;
        border-radius: 6px;
    }
}
