.menu {
    display: flex;
}

.menu-bar h3 {
    color: var(--template-primary-color, blue);
    flex-basis: 25%;
    padding: 2em 1em 2em 1em;
    text-align: center;
    line-height: 2em;
}

.menu-list li {
    list-style: none outside;
}

.menu-list a {
    display: block;
    text-decoration: none;
    padding: 1em 6em 1em 1em;
    background-color: var(--template-primary-color, blue);
    border: 2px solid var(--template-primary-color, blue);
    color: white;
    font-weight: 900;
    position: relative;
}

.menu-list .clicked-item {
    background-color: white;
    border-right: none;
    color: var(--template-primary-color, blue);
    border-color: var(--template-primary-color-invert, yellow);
    font-size: 1.1em;
    border-width: 3px;
}

a.clicked-item:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 3px;
    z-index: 10;
    background-color: white;
}

.menu-list li:first-child a {
    border-top-left-radius: 0.6em;
}

.menu-list li:last-child a {
    border-bottom-left-radius: 0.6em;
}


.menu-option {
    flex: 1 0 75%;
    display: none;
    border: 3px solid var(--template-primary-color-invert, yellow);
    border-radius: 0.6em;
    transform: translateX(-3px);
    overflow: hidden;
    margin-bottom: 2em;
}

.menu-option .search-area {
    text-align: center;
    padding: 1em;
    border-bottom: 2px solid var(--template-primary-color, blue);
}

.search-area input {
    width: 50%;
    padding: 0.2em;
    border-radius: 0.2em;
}

.menu-option .items-area {
    padding: 0.8em;
    padding-top: 1em;
}

.items-area h4 {
    padding: 1em 0 2em 0;
}

.items-area h4,
.items-area h5 {
    text-align: center;
}

.items-area li {
    list-style: none outside;
    border: 2px solid var(--template-secondary-color, green);
    border-radius: 0.3em;
    margin-bottom: 0.3em;
}

.toggle-area {
    display: flex;
    justify-content: space-around;
    background-color: #f8f8f8;
    padding: 0.6em 3em;
}

.toggle-area p {
    flex-basis: 33%;
    text-align: center;
}

.toggle-area:hover {
    background-color: #b4b4b4;
}

.on-click-area {
    display: none;
    padding: 1em;
    border-top: 2px solid var(--template-primary-color, blue);
}


.on-click-area.clicked-area {
    display: block;
}

.item-description {
    width: 100%;
    min-height: 6em;
    padding: 0.5em;
}

.data,
.image-and-description {
    border-bottom: 2px solid #b4b4b4;
    padding: 2em 0;
}

.menu-option .submit-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.4em;
    padding: 0.5em;
    font-size: 1em;
    background-color: var(--template-primary-color, blue);
    color: white;
    border: 1px solid var(--template-primary-color, blue);
    border-radius: 0.2em;
}

.menu-option .data {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menu-option .data label,
.menu-option .data input {
    flex: 0 0 60%;
}

.menu-option .data .elements {
    flex: 0 0 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 2px solid #b4b4b4;
    padding-top: 1em;
    margin-top: 2em;
}

.elements .macro-elements,
.elements .micro-elements {
    display: flex;
    flex-direction: column;
    flex: 0 0 48%;
}

.menu-option .elements label,
.menu-option .elements input {
    flex-basis: 1em;
}

.menu-option .data label {
    padding: 0.3em 0;
    font-size: 0.9em;
}

.menu-option .data input {
    padding: 0.3em;
    border: 1px solid #b4b4b4;
    border-radius: 0.2em;
}

.menu-option .image-and-description {
    display: flex;
    justify-content: space-between;
}

.menu-option .image-and-description .image-container {
    flex: 0 0 48%;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
}

.menu-option .image-and-description textarea {
    flex: 0 0 48%;
}

.menu-option .image-and-description .item-description.new-item-description {
    flex-grow: 1;
}
