.nav {
    display: flex;
    align-items: center;

    & ul {
        display: flex;

        & a {
            text-decoration: none;
            padding: 0.5em 1em;
            border-radius: 0.3em;
            background-color: var(--template-primary-color, blue);
            color: white;
            border: 2px solid var(--template-primary-color, blue);
            user-select: none;

            &:hover {
                background-color: white;
                color: var(--template-primary-color, blue);
                transition-duration: 0.3s;
                border-color: var(--template-primary-color-invert, yellow);
            }
        }
    }

    & li {
        list-style: none outside;
    }

    & .nav-brand {
        font-size: 2.6em;
        padding: 0.5em 1em;
        margin-right: 2em;
        text-decoration: none;
        background-color: transparent;
        color: var(--template-primary-color, blue);
        font-weight: 900;
        position: relative;

        & span {
            position: absolute;
            bottom: 15%;
            left: 20%;
            font-size: 0.3em;
        }

        &:hover {
            color: var(--template-primary-color-invert, yellow);
            transition-duration: 0.3s;
        }
    }

    & .nav-right {
        margin-left: auto;

        & li {
            margin: 0.5em 1em;
        }
    }

    & .nav-left li {
        margin: 0.5em 1em;
    }
}
