.nav {
    display: flex;
    align-items: center;

    @include responsive( phone ) {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    @include responsive( small-phone ) {
        position: relative;
    }

    & ul {
        display: flex;

        @include responsive( phone ) {
            flex-basis: 90%;
            margin-left: auto;
            margin-right: auto;
            padding: 1em 0;
        }

        @include responsive( small-phone ) {
            display: none;
            position: absolute;
            top: 100%;
            width: 100vw;
            height: 100vh;
            flex-direction: column;
            background-color: #f8f8f8;
            text-align: center;
            z-index: 200;
        }

        & a {
            text-decoration: none;
            padding: 0.5em 1em;
            border-radius: 0.3em;
            background-color: var(--template-primary-color, blue);
            color: white;
            border: 2px solid var(--template-primary-color, blue);
            user-select: none;

            &:hover {
                background-color: white;
                color: var(--template-primary-color, blue);
                transition-duration: 0.3s;
                border-color: var(--template-primary-color-invert, yellow);
            }
        }
    }

    & li {
        list-style: none outside;
    }

    & .nav-brand {
        font-size: 2.6em;
        padding: 0.5em 1em;
        text-decoration: none;
        background-color: transparent;
        color: var(--template-primary-color, blue);
        font-weight: 900;
        position: relative;
        user-select: none;

        & span {
            position: absolute;
            bottom: 15%;
            left: 20%;
            font-size: 0.3em;
        }

        &:hover {
            color: var(--template-primary-color-invert, yellow);
            transition-duration: 0.3s;
        }

        &.toggler {
            cursor: pointer;
        }
    }

    & .nav-right {
        margin-left: auto;

        & li {
            margin: 0.5em;

            @include responsive( phone ) {
                margin: 0.2em;

                &:first-child {
                    margin-left: auto;
                }

                &:last-child {
                    margin-right: auto;
                }
            }

            @include responsive( small-phone ) {
                margin: 1.5em;

                &:first-child {
                    margin: 1.5em;
                }

                &:last-child {
                    margin: 1.5em;
                }
            }
        }
    }

    & .nav-left li {
        margin: 0.5em 1em;
    }
}
