@import "variables";
@import "mixins";
@import "animations";
@import "landing";
@import "typography";
@import "navigation";
@import "menu";
@import "articles";
@import "diary";

* {
    padding: 0;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.wrapper {
    max-width: 80%;
    margin: 0 auto;

    @include responsive( desktop-large ) {
        max-width: 80%;
        width: 80rem;
    }

    @include responsive( desktop ) {
        max-width: 80%;
        width: 70rem;
    }

    @include responsive( laptop ) {
        max-width: 100%;
        width: 70rem;
    }

    @include responsive( mobile ) {
        max-width: 100%;
        width: 80rem;
    }
}

.site-header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.site-content {
    padding-top: 6.4rem;

    @include responsive( phone ) {
        padding-top: 10.2rem;
    }

    @include responsive( small-phone ) {
        padding-top: 6.4rem;
    }
}

.site-footer,
.site-header {
    background-color: #f8f8f8;
}

.site-footer {
    margin-top: auto;
    padding: 1rem;
    color: var(--template-primary-color, blue);

    @include responsive( laptop ) {
        padding-right: 2em;
        padding-left: 2em;
    }

    @include responsive( mobile ) {
        padding-right: 3em;
        padding-left: 3em;
    }

    @include responsive( phone ) {
        font-size: 1.2em;
    }

    @include responsive( small-phone ) {
        font-size: 1.4em;
    }
}

.site-footer .wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;

    @include responsive( phone ) {
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

.footer-copy {
    flex: 0 0 50%;
    font-style: italic;

    @include responsive( phone ) {
        flex: 0 0 100%;
        text-align: center;
        padding: 1em 0;
    }
}

.footer-sitemap,
.footer-contacts {
    @include responsive( phone ) {
        flex: 0 0 100%;
        text-align: center;
        padding-bottom: 1em;       
    }
}

.footer-copy p:nth-child(1) {
    padding-bottom: 1em;
}

.site-footer li {
    list-style: none outside;
}

.site-footer a {
    text-decoration: none;
    color: var(--template-primary-color, blue);
}

.site-footer a:hover {
    color: var(--template-primary-color-invert, yellow);
}

#qrCode {
    margin: 15px;
}

